.parent {
    margin: 1rem 2ww;
}

nav {
    background-color: pink;
}

body {
    font-family: "Poetsen One", sans-serif;
    background-color: lightcoral;
}

.card li {
    list-style: none;
}

main {
    background-color: lightpink;
}

nav a {
    display: block;
    text-align: center;
    font-size: 20px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

h1 {
    text-align: center;
    background-color: darkred;
    color: white;
}

.parent section {
    border: 1px solid coral;
    background-color: #DF7373;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card h2 {
    background-color: #CC444B;
    color: white;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}